<div ng-controller="MainController">
    <header>
        <nav class="navbar transparent navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"> <span>ANNA <strong>DYDAK</strong></span></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a ng-click="goToAnchor('about')"><span>O MNIE</span></a></li>
                        <li><a ng-click="goToAnchor('references')"><span>REFERENCJE</span></a></li>
                        <li><a ng-click="goToAnchor('certificates')"><span>CERTYFIKATY</span></a></li>
                        <li><a ng-click="goToAnchor('diploma')"><span>DYPLOM</span></a></li>
                        <li><a ng-click="goToAnchor('contact')"><span>KONTAKT</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section class="header" id="portfolio">
        <h1 class="section-title">PORTFOLIO</h1>
        <div class="collection flex">
            <div ng-repeat="type in types" class="inline tile">
                <a class="fuzzy" href="#/type{{type.urlPart}}/{{$index}}">
                    <i class="{{type.class_id}} project-tile"></i>
                    <div class="overlay">
                        <div class="blur"></div>
                        <h5 class="title">{{type.name}}</h5>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <div class="band"></div>
    <section class="collection page-section sliding-anim sliding">
        <section class="page-section collection text-section" id="about">
            <h2 class="section-title">O MNIE</h2>
            <div>
                <div class="text col-sm-6">
                    <p class="justified">
                        Jestem absolwentką Politechniki Poznańskiej. Moimi mocnymi stronami
                        są sumienność, punktualność, precyzja i dyspozycyjność. Najbliżsi uważają, że
                        jestem pracowita oraz ambitna. Lubię pracować w zespole oraz zdobywać
                        doświadczenie w praktyce. Moją pasją są podróże. W miarę możliwości odwiedzam miejsca, które mnie inspirują.
                        Interesuję się sztuką, muzyką i dobrym kinem.
                    </p>
                    <p class="centered" style="margin-top: 50px">
                        <i>„ Podróżować znaczy żyć ”</i>
                        <br>
                        <i>Hans Christian Andersen</i>
                    </p>
                </div>
                <div class="text col-sm-6">
                    <img class="portrait" src="images/foto/ania.jpg">
                </div>
            </div>
            <div class="text col-sm-12">
                <h3>UMIEJĘTNOŚCI</h3>
                <table style="width: 100%">
                    <tbody>
                        <tr>
                            <td>Adobe Photoshop</td>
                            <td><img src="images/svg/ratings-full.svg"></td>
                            <td>Angielski</td>
                            <td><img src="images/svg/ratings-four.svg"></td>
                        </tr>
                        <tr>
                            <td>Adobe InDesign</td>
                            <td><img src="images/svg/ratings-four.svg"></td>
                            <td>Prawo jazdy kat. B</td>
                            <td><img src="images/svg/ratings-full.svg"></td>
                        </tr>
                        <tr>
                            <td>Autodesk AutoCAD</td>
                            <td><img src="images/svg/ratings-full.svg"></td>
                            <td>Rysunek</td>
                            <td><img src="images/svg/ratings-four.svg"></td>
                        </tr>
                        <tr>
                            <td>Autodesk ArchiCAD</td>
                            <td><img src="images/svg/ratings-four.svg"></td>
                            <td>Makieta</td>
                            <td><img src="images/svg/ratings-full.svg"></td>
                        </tr>
                        <tr>
                            <td>Autodesk Revit</td>
                            <td><img src="images/svg/ratings-three.svg"></td>
                            <td>Fotografia</td>
                            <td><img src="images/svg/ratings-three.svg"></td>
                        </tr>
                        <tr>
                            <td>Autodesk 3DS max</td>
                            <td><img src="images/svg/ratings-two.svg"></td>
                            <td>Rzeźba</td>
                            <td><img src="images/svg/ratings-three.svg"></td>
                        </tr>
                        <tr>
                            <td>Artlantis</td>
                            <td><img src="images/svg/ratings-full.svg"></td>
                            <td>Decoupage</td>
                            <td><img src="images/svg/ratings-full.svg"></td>
                        </tr>
                        <tr>
                            <td>SketchUp V+RAY</td>
                            <td><img src="images/svg/ratings-four.svg"></td>
                            <td>Montaż filmowy</td>
                            <td><img src="images/svg/ratings-three.svg"></td>
                        </tr>
                        <tr>
                            <td>DIALux</td>
                            <td><img src="images/svg/ratings-full.svg"></td>
                        </tr>
                    </tbody>
                </table>

                <h3>WYKSZTAŁCENIE</h3>
                <table style="width: 100%">
                    <tbody>
                        <tr class="row">
                            <td class="col-sm-4">
                                2010 - 2013
                            </td>
                            <td class="col-sm-8">
                                LICEUM OGÓLNOKSZTAŁCĄCE NR 2 W KONINIE <br>
                                profil matematyczno - językowy
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-4">
                                2013 - 2018
                            </td>
                            <td class="col-sm-8">
                                POLITECHNIKA POZNAŃSKA WYDZIAŁ ARCHITEKTURY <br>
                                kierunek architektura
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-4">
                                2017 - 2018
                            </td>
                            <td class="col-sm-8">
                                UNIVERSIDADE DE LISBOA <br>
                                faculdade de arquitetura
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-4">
                                2017
                            </td>
                            <td class="col-sm-8">
                                TYTUŁ ZAWODOWY INŻ. ARCH., WYNIK BARDZO DOBRY <br>
                                projekt zabudowy wielorodzinnej przy ul. Ceglanej w Poznaniu
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-4">
                                2018
                            </td>
                            <td class="col-sm-8">
                                TYTUŁ ZAWODOWY MGR, WYNIK BARDZO DOBRY Z WYRÓŻNIENIEM <br>
                                projekt szpitala w Poznaniu "Hotel dla chorych" <br>
                                Pani promotor: dr hab. inż. arch. Ewa Pruszewicz-Sipińska, prof. nadzw.
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h3>PRAKTYKI</h3>
                <table style="width: 100%">
                    <tbody>
                        <tr class="row">
                            <td class="col-sm-4">
                                2015
                            </td>
                            <td class="col-sm-8">
                                "R PILCH PRACOWNIA PROJEKTOWA" W KONINIE
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-4">
                                2016
                            </td>
                            <td class="col-sm-8">
                                "ULTRA-ARCHITECS" W POZNANIU
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-4">
                                2017
                            </td>
                            <td class="col-sm-8">
                                "ULTRA-ARCHITECS" W POZNANIU
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h3>PRACA ZAWODOWA</h3>
                <table style="width: 100%">
                    <tbody>
                    <tr class="row">
                        <td class="col-sm-4">
                            2018
                        </td>
                        <td class="col-sm-8">
                            "WOJTYŚ WÓJTOWICZ ARCHITEKCI" W POZNANIU
                        </td>
                    </tr>
                    </tbody>
                </table>
                <h3>KURSY</h3>
                <table style="width: 100%">
                    <tbody>
                        <tr class="row">
                            <td class="col-sm-4">
                                2014
                            </td>
                            <td class="col-sm-8">
                                AUTOCAD<br>
                                certyfikowany kurs zaawansowany w BUDiKOM w Poznaniu
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-4">
                                2016
                            </td>
                            <td class="col-sm-8">
                                3DS MAX<br>
                                Certyfikowany kurs podstawowy w BeCreativeCAD w Poznaniu
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h3>KONKURSY</h3>
                <table style="width: 100%">
                    <tbody>
                        <tr class="row">
                            <td class="col-sm-4">
                                2016
                            </td>
                            <td class="col-sm-8">
                                KONKURS NA NAJLEPSZĄ PRACĘ SEMESTRALNĄ<br>
                                nominacja, Politechnika Poznańska
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-4">
                                2017
                            </td>
                            <td class="col-sm-8">
                                KONKURS NA NAJLEPSZĄ PRACĘ INŻYNIERSKĄ<br>
                                nominacja, Politechnika Poznańska
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-4">
                                2017
                            </td>
                            <td class="col-sm-8">
                                KONKURS URBANISTYCZNY<br>
                                wyróżnienie, pod hasłem „Deptak Osiedle Górnicze w Turku”
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-4">
                                2018
                            </td>
                            <td class="col-sm-8">
                                KONKURS NA NAJLEPSZĄ PRACĘ MAGISTERSKĄ<br>
                                nominacja, Politechnika Poznańska
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h3>AKTYWNOŚCI</h3>
                <table style="width: 100%">
                    <tbody>
                        <tr class="row">
                            <td class="col-sm-4">
                                2014 - 2017
                            </td>
                            <td class="col-sm-8">
                                KNSA - KOŁO NAUKOWE STUDENTÓW ARCHITEKTURY<br>
                                przewodnicząca sekcji organizowania wycieczek na budowy
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-4">
                                2015 - 2018
                            </td>
                            <td class="col-sm-8">
                                STYPENDIA REKTORA DLA NAJLEPSZYCH STUDENTÓW<br>
                                pięciokrotne zdobycie stypendium za wysoką średnią ocen
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="page-section collection image-section" id="references">
            <h2 class="section-title">REFERENCJE</h2>
            <div ng-repeat="referenceGroup in references" class="row">
                <div ng-if="referenceGroup.length == 1">
                    <img class="center-align img-responsive maximize" ng-src="{{referenceGroup[0].path}}" alt="">
                </div>
                <div ng-if="referenceGroup.length > 1">
                    <img ng-repeat="reference in referenceGroup" class="col-sm-6 center-align img-responsive maximize"
                         ng-src="{{reference.path}}" alt="">
                </div>
            </div>
        </section>
        <section class="page-section collection image-section" id="certificates">
            <h2 class="section-title">CERTYFIKATY</h2>
            <div>
                <img ng-repeat="certifate in certifates" class="col-sm-6 img-responsive maximize"
                     ng-src="{{certifate.path}}" alt="">
            </div>
        </section>
        <section class="page-section collection image-section" id="diploma">
            <h2 class="section-title">DYPLOM</h2>
            <div>
                <img class="center-align img-responsive maximize" ng-src="{{diploma.path}}" alt="">
            </div>
        </section>
        <section class="page-section collection text-section" id="contact">
            <h2 class="section-title">KONTAKT</h2>
            <p class="centered">
                email: <strong>annaxdydak@gmail.com</strong>
            </p>
            <p class="centered">
                nr telefonu: <strong>725329189</strong>
            </p>
        </section>
    </section>
</div>