<div ng-controller="MainController">
    <header>
        <nav class="navbar transparent navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"> <span>ANNA <strong>DYDAK</strong></span></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a ng-click="gotoAnchor('about')"><span>O MNIE</span></a></li>
                        <li><a ng-click="gotoAnchor('references')"><span>REFERENCJE</span></a></li>
                        <li><a ng-click="gotoAnchor('certificates')"><span>CERTYFIKATY</span></a></li>
                        <li><a ng-click="gotoAnchor('diploma')"><span>DYPLOM</span></a></li>
                        <li><a ng-click="gotoAnchor('contact')"><span>KONTAKT</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section class="header" id="portfolio">
        <h1 class="section-title">PORTFOLIO</h1>
        <div class="collection flex">
            <div ng-repeat="type in types" class="inline tile">
                <a class="fuzzy" href="#/type{{type.urlPart}}/{{$index}}">
                    <i class="{{type.class_id}}"></i>
                    <div class="overlay">
                        <div class="blur"></div>
                        <h5 class="title">{{type.name}}</h5>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <div class="band"></div>
    <section class="collection page-section sliding-anim sliding">
        <section class="page-section collection text-section" id="about">
            <h2 class="section-title">O MNIE</h2>
            <div>
                <div class="text col-sm-6">
                    <p class="justified">
                        Jestem ambitną i punktualną studentką piątego roku z tytułem inżyniera architekta.
                        Pomimo iż to początek mojej ścieżki zawodowej, mogę zapewnić, że moją mocną stroną jest sumienność,
                        precyzja i zorganizowanie. Lubię pracować w zespole.
                    </p>
                </div>
                <img class="portrait" src="images/foto/JA2.jpg">
            </div>
            <div class="text col-sm-12">
                <h3>UMIEJĘTNOŚCI</h3>
                <ul class="no-dotes">
                    <li>Bardzo dobra znajomość obsługi programów: Autocad, SketchUp + V-ray, Photoshop, ArchiCad, Art-lantis,</li>
                    <li>Dobra znajomość obsługi programów: Revit, 3ds max</li>
                    <li>Umiejętność obsługi programów: Word, Excel, Power Point</li>
                    <li>Zdolności artystyczne - rysunek</li>
                    <li>Prawo jazdy kategorii B</li>
                </ul>

                <h3>WYKSZTAŁCENIE</h3>
                <table style="width: 100%">
                    <tbody>
                        <tr class="row">
                            <td class="col-sm-4">
                                01.09.2010 - 26.04.2013
                            </td>
                            <td class="col-sm-8">
                                Liceum ogólnokształcące nr 2 im. K. K. Baczyńskiego w Koninie <br> Profil
                                matematyczno-językowy
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-4">
                                01.10.2013 - dzisiaj
                            </td>
                            <td class="col-sm-8">
                                Politechnika Poznańska Wydział Architektury, kierunek Architektura
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-4">
                                06.02.2017
                            </td>
                            <td class="col-sm-8">
                                tytuł inż. arch.
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-4">
                                06.10.2017 - 06.02.2018
                            </td>
                            <td class="col-sm-8">
                                Universidade de Lisboa, Faculdade de Arquitetura
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h3>OSIĄGNIĘCIA</h3>
                <table style="width: 100%">
                    <tbody>
                        <tr class="row">
                            <td class="col-sm-4">
                                06.07.2014 - 19.09.2014
                            </td>
                            <td class="col-sm-8">
                                Praca wakacyjna w "Bar at Bewley’s Hotel Manchester Airport"
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-4">
                                01.10.2014 - 01.07.2017
                            </td>
                            <td class="col-sm-8">
                                Aktywna działalność w "KNSA - Kole Naukowym Studentów Architektury
                                Politechniki Poznańskiej", m.in. organizowanie wycieczek na budowy dla studentów
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-4">
                                16.11.2014
                            </td>
                            <td class="col-sm-8">
                                Kurs zaawansowany z programu Autocad w firmie BUDiKOM w Poznaniu
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-4">
                                17.08.2015 - 11.09.2015
                            </td>
                            <td class="col-sm-8">
                                Praktyka w "R PILCH PRACOWNIA PROJEKTOWA Roman Pilch" w Koninie
                                <a href="http://projektowaniepilch.pl/index.php/pl/">http://projektowaniepilch.pl/index.php/pl/</a>
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-4">
                                11.03.2016 - 31.03.2016
                            </td>
                            <td class="col-sm-8">
                                Konkurs na najlepszą pracę semestralną w zakładzie Architektury Usługowej i Mieszkaniowej
                                Instytutu Architektury, Urbanistyki i Ochrony Dziedzictwa Wydział Architektury Politechniki Poznańskiej
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-4">
                                01.10.2015 - 02.02.2018
                            </td>
                            <td class="col-sm-8">
                                Stypendium Rektora dla najlepszych studentów
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-4">
                                01.08.2016 - 26.09.2016
                            </td>
                            <td class="col-sm-8">
                                Praktyka w "ULTRA-ARCHITECS" w Poznaniu
                                <a href="http://ultra-architects.pl/aktualnosci/">http://ultra-architects.pl/aktualnosci/</a>
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-4">
                                12.09.2016 - 15.09.2016
                            </td>
                            <td class="col-sm-8">
                                Pomoc od strony graficznej w projekcie studenckim Politechniki Poznańskiej:
                                "Zawody samochodów solarnych World Solar Challenge w Australii"
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-4">
                                27.11.2016
                            </td>
                            <td class="col-sm-8">
                                Certyfikowany kurs podstawowy z 3ds max'a w firmie BeCreativeCAD w Poznaniu
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-4">
                                01.04.2017 - 01.05.2017
                            </td>
                            <td class="col-sm-8">
                                Praca dodatkowa. Hostessa w restauracji "Rynek 95"
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-4">
                                03.07.2017 - 14.07.2017
                            </td>
                            <td class="col-sm-8">
                                Praktyka w "ULTRA-ARCHITECS" w Poznaniu
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="page-section collection image-section" id="references">
            <h2 class="section-title">REFERENCJE</h2>
            <div>
                <img ng-repeat="reference in references" class="col-sm-6 img-responsive maximize"
                     ng-src="{{reference.path}}" alt="">
            </div>
        </section>
        <section class="page-section collection image-section" id="certificates">
            <h2 class="section-title">CERTYFIKATY</h2>
            <div>
                <img ng-repeat="certifate in certifates" class="col-sm-6 img-responsive maximize"
                     ng-src="{{certifate.path}}" alt="">
            </div>
        </section>
        <section class="page-section collection image-section" id="diploma">
            <h2 class="section-title">DYPLOM</h2>
            <div>
                <img class="center-align img-responsive maximize" ng-src="{{diploma.path}}" alt="">
            </div>
        </section>
        <section class="page-section collection text-section" id="contact">
            <h2 class="section-title">KONTAKT</h2>
            <p class="centered">
                email: <strong>annaxdydak@gmail.com</strong>
            </p>
        </section>
    </section>
</div>